@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.header {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    height: 90px;
    box-shadow: 0px 0px 8px #E7E7E7;
}






.Panda-logo {
    position: relative;
    left: 130px;
    top: 3px;

}





.login {
    border: 1px solid #39434D;
    height: 25px;
    width: 80px;
    text-align: center;
    padding: 6px 0px 0px 0px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin: 0px 0px 0px 970px;
    color: #39434D;
}

.login:hover {
    background-color: #F0F2F2;
}


.sign-in {
    color: white;
    background-color: #E21B70;
    height: 27px;
    width: 80px;
    text-align: center;
    padding: 6px 0px 0px 0px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
}

.sign-in:hover {
    background-color: #C21760;
}

.enworld {
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0px 0px 0px 1300px;
    gap: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.enworld:hover {
    background-color: #F0F2F2;
    width: 80px;
    height: 40px;
    border-radius: 10px;

}





.cartlogo {
    color: #39434D;
    margin: 8px 0px 0px 120px;
}


.pandapic {
    position: absolute;
    right: -160px;
    bottom: -0px;
    padding: 0px 0px 0px 0px;
}



.foodtext {
    font-size: 20px;
    color: #333333;
    
    margin: 160px 0px 0px 140px;
    font-family: Kanit;
}


.input{
    height: 20px;
    margin: 0px 0px 0px 140px;
  
    outline: none;
}


.location{
    color: #E21B70;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: -7px 0px 0px 600px;
}




.foodbtn{
    background-color:#E21B70;
    height: 40px;
    width: 90px;
    text-align: center;
    padding: 6px 0px 0px 0px;
    border-radius: 8px;
    font-family: Kanit;
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
    margin: -55px 0px 0px 750px;
}

.foodbtn:hover{
    background-color: #C21760;
}

.back{
    background-color: white;
    width: 750px;
    height: 70px;
    margin: -48px 0px 0px 110px; 
    border-radius: 8px;
    box-shadow: 0px 0px 13px #9a9999;
    
}



.text2{
    font-family: fantasy;
    font-size: 35px;
    font-weight: lighter;
    margin: 70px 0px 30px 140px;
}


.text3{
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    height: 350px;
    width: 650px;
    font-family:Quicksand;
    font-weight: lighter;
    font-size: 12px;
    position: relative;
    top: -200px;
    left: 140px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px #9a9999;
}




.getstarted{
    color: white;
    background-color: #E21B70;
    height: 50px;
    width: 140px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin: 20px 0px 0px 25px;
}


.getstarted:hover{
    background-color: #C21760;
}





.text4{
    font-family: fantasy;
    font-size: 35px;
    font-weight: lighter;
    margin: 90px 0px 30px 0px;

}

.pics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.karachi{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 80px;
    bottom: -1020px;
    height: 20px;
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}



.lahore{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 450px;
     bottom: -1020px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}


.faisalabad{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 820px;
    color: black;
     bottom: -1020px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}


.rawalpindi{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 1200px;
    color:black;
     bottom: -1020px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.abbottabad{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 80px;
    color:black;
     bottom: -1270px; 
    /* height: 20px; */
    width: 85px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.bahawalpur{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 450px;
     bottom: -1270px; 
    /* height: 20px; */
    width: 90px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.dera-ghazi-khan{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 820px;
    color: black;
     bottom: -1270px; 
    /* height: 20px; */
    width: 130px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}
.gujranwala{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 1200px;
    color:black;
     bottom: -1270px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.gujrat{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 80px;
    color:black;
     bottom: -1535px; 
    /* height: 20px; */
    width: 85px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;

}

.hyderabad{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 450px;
     bottom: -1535px; 
    /* height: 20px; */
    width: 90px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.jhelum{
     background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 820px;
    color: black;
     bottom: -1535px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.kamoke{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 1200px;
    color:black;
     bottom: -1535px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.larkana{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 80px;
    color:black;
     bottom: -1789px; 
    /* height: 20px; */
    width: 85px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.mangla{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 450px;
     bottom: -1790px; 
    /* height: 20px; */
    width: 90px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.mardan{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 820px;
    color: black;
     bottom: -1790px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.multan{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 1200px;
    color:black;
     bottom: -1790px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.murree{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 80px;
    color:black;
     bottom: -2050px; 
    /* height: 20px; */
    width: 85px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.okara{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 450px;
     bottom: -2050px; 
    /* height: 20px; */
    width: 90px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.pano-aqil{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 820px;
    color: black;
     bottom: -2050px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.peshawar{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: absolute;
    left: 1200px;
    color:black;
     bottom: -2050px; 
    /* height: 20px; */
    width: 80px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand;
    text-decoration: none;
}

.text5{
    font-family: fantasy;
    font-size: 35px;
    font-weight: lighter;
    margin: 90px 0px 0px 190px;
    color: #333333;

}

.pinkback{
    background-color: #E21B70;
    width: 1200px;
    height: 300px;
    justify-content: center;
    margin: 10px 0px 0px 190px;
    border-radius: 8px;
}
.text6{
    font-family: fantasy;
    font-size: 25px;
    font-weight: lighter;
    margin: 20px 0px 30px 55px;
    color: #ffffff;
    position: absolute;
    bottom: -2300px;
}


.text7{
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 0px 55px;
    color: #ffffff;
    position: absolute;
    bottom: -2420px;
}



.phonepic{
    position: absolute;
    bottom: -2650px;
    right: 20px;
    left: 700px;
}


.appstore{
    position: absolute;
    bottom: -2490px;
    left: 240px;
}

.playstore{
    position: absolute;
    bottom: -2490px;
    left: 380px;
}

.aliexpress{
    position: absolute;
    bottom: -2490px;
    left: 530px;
}



.text8{
    font-family: fantasy;
    font-size: 35px;
    font-weight: lighter;
    margin: 70px 0px 0px 190px;
    color: #333333;
    /* position: absolute;
    bottom: -2420px; */
}

.text9{
    color: #333333;
    font-family: fantasy;
    font-size: 40px;
    font-weight: lighter;
    margin: -100px 0px 120px 190px;
    
}


.text10{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: -100px 0px 0px 190px;
}

.text11{
    color: #333333;
    font-family: fantasy;
    font-size: 40px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text12{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

hr{
    width: 1300px;
    margin: 0px 0px 0px 180px;
    color: #333333;
}

.text13{
    color: #333333;
    font-family: fantasy;
    font-size: 30px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}


.text14{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}


.text15{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text16{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text17{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}


.text18{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text19{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}



.text20{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text21{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text22{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text23{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text24{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text25{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text26{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text27{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text28{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}

.text29{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}


.text30{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}


.text31{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin: 0px 0px 20px 190px;
}




.text32{
    color: #333333;
    font-family: fantasy;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 140px 190px;
}

.text33{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin:30px 0px 30px 190px;
}


.text34{
    color: #333333;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: lighter;
    margin:30px 0px 20px 190px;
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
}




